video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.vidoverlay {
    position: absolute;
    mix-blend-mode: screen;
    opacity: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
    font-family: monospace;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.graffiti {
    font-family: 'Caveat Brush';
}

#overlay-toggle {
    position: absolute;
    display: none;
}

.overlay {
    z-index: 1;
    background-color: #0f0f0f;
}

.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.no-hover {
    display: block;
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
}

body {
    font-family: monospace !important;
    background-color: #0f0f0f !important;
    color: #fff !important
}

.hover {
    text-decoration: none;
    color: white;
    transition: .4s
}

.hover:hover {
    transition: .4s;
    color: #5564f2
}

span::before {
    content: '\A';
    white-space: pre
}

#center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

#overlay-toggle:checked~.overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
}

#overlay-toggle:checked~.overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
}

#canvas-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@font-face {
    font-family: "Graffiti";
    src: url(../fonts/font.ttf);
}

@media(hover: hover) {
    .overlayhover {
        display: block;
    }
    .overlayno-hover {
        display: none;
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}
